h2 {
    font-family: "Cinzel", serif;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

/* Home - Chi Siamo */

.home_chi_siamo_style {
    color: #3B2313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    border-top: #3B2313 solid 1px;
    border-bottom: #3B2313 solid 1px;
}

.home_chi_siamo_text_style {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    padding: 0px 40px 40px 40px;
}

.home_chi_siamo_text_style p {
    font-family: "Cinzel", serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_div_chi_siamo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_chi_siamo {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    margin: 10px 0px 0px 0px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #3B2313;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #3B2313 0%, #785136  51%, #3B2313  100%);
}

.button_chi_siamo:hover {
    background-position: right;
    color: white;
}

.button_chi_siamo:active {
    transform: scale(0.9);
}

.riga_titolo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.riga_titolo span {
    border: #3B2313 solid 2px;
    width: 100px;
    margin: 20px 0px 25px 0px;
}

/* Home - Prodotti */

.home_prodotti_style {
    background-color: #FF9000;
    color: #3B2313;
    padding: 40px 0px 30px 0px;
    border-bottom: #3B2313 solid 1px;
}

.home_prodotti_content_style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500rem;
    margin-inline: auto;
    margin-bottom: 20px;
} 

.home_prodotti_content_style .home_prodotto_style {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: opacity 0.4s linear;
}

.home_prodotto_style {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_prodotto_style .text_product {
    font-family: "Cinzel", serif !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    color: #3B2313;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.home_prodotti_content_style:has(.home_prodotto_style:hover) .home_prodotto_style:not(:hover) {
    opacity: 0.7;
}

.home_prodotti_content_style:has(.home_prodotto_style:hover) .home_prodotto_style:hover .text_product {
    visibility: visible;
}

@media screen and (min-width:992px) {
    .home_prodotti_content_style {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 500rem;
        margin-inline: auto;
    }

    .home_prodotti_content_style .home_prodotto_style {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        transition: opacity 0.4s linear;
    }
}

/* Home - Instagram */

.home_instagram_style {
    color: #3B2313;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 40px 0px;
}

.insta_scroll {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -140px;
    height: 440px;
    overflow: scroll;
}

.social_text_style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_text_style p {
    font-family: "Cinzel", serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.button_instagram {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #C44485;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #C44485 0%, #e5bf66  51%, #C44485  100%);
}

.button_instagram:hover {
    background-position: right;
    color: white;
}

.button_instagram:active {
    transform: scale(0.9);
}

.button_facebook {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #3B5A98;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #3B5A98 0%, #247BF4 51%, #3B5A98  100%);
}

.button_facebook:hover {
    background-position: right;
    color: white;
}

.button_facebook:active {
    transform: scale(0.9);
}

.button_whatsapp {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #015255;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #015255 0%, #00B439 51%, #015255  100%);
}

.button_whatsapp:hover {
    background-position: right;
    color: white;
}

.button_whatsapp:active {
    transform: scale(0.9);
}

/* Home - Recensioni */

.home_recensioni_style {
    background-color: #558259;
    color: #3B2313;
    padding: 40px 0px;
    border-top: #3B2313 solid 1px;
}

.recensione_div_style {
    display: flex;
    justify-content: center;
}

.recensione_style {
    background-color: white;
    border: #558259 solid 10px;
    border-radius: 25px;
    padding: 20px;
}

.recensione_style p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0px 0px 0px 10px;
}

.recensione_logo_style img {
    width: 45px;
}

.recensione_content_style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.recensione_content_style img {
    height: 28px;
    margin-left: 3px;
}

/* Home - Footer */

.footer_style {
    background-color: #3B2313;
    color: white;
    padding: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer_div_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer_div_style p {
    font-size: 14px;
    margin: 0px;
}

.title_div_footer {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    display: flex;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.copyright p {
    font-size: 13px;
    margin: 0px;
}