/* Home - Chi Siamo */

.home_chi_siamo_style {
    color: #3B2313;
    background: url(../../assets/sfondo.png);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.home_chi_siamo_text_style {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    padding: 0px 40px 40px 40px;
}

h2 {
    font-family: "Cinzel", serif;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

p {
    font-family: "Cinzel", serif;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_div_chi_siamo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_chi_siamo {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #3B2313;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #3B2313 0%, #785136  51%, #3B2313  100%);
}

.button_chi_siamo:hover {
    background-position: right;
    color: white;
}

.button_chi_siamo:active {
    transform: scale(0.9);
}

.riga_titolo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.riga_titolo span {
    border: #3B2313 solid 2px;
    width: 100px;
    margin: 20px 0px 25px 0px;
}

/* Home - Prodotti */

.home_prodotti_style {
    /* background: url(../../assets/sfondoarancio.png); */
    background-color: #FF9000;
    color: #3B2313;
    background-attachment: fixed;
    padding: 40px 0px;
}

.home_prodotti_content_style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500rem;
    margin-inline: auto;
    margin-bottom: 20px;
} 

.home_prodotti_content_style .home_prodotto_style {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: opacity 0.4s linear;
}

.home_prodotto_style {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_prodotto_style .text_product {
    font-family: "Cinzel", serif !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    color: #3B2313;
    background-color: white;
    padding: 10px 20px;
    border-radius: 25px;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.home_prodotti_content_style:has(.home_prodotto_style:hover) .home_prodotto_style:not(:hover) {
    opacity: 0.7;
}

.home_prodotti_content_style:has(.home_prodotto_style:hover) .home_prodotto_style:hover .text_product {
    visibility: visible;
}

@media screen and (min-width:992px) {
    .home_prodotti_content_style {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 500rem;
        margin-inline: auto;
    }

    .home_prodotti_content_style .home_prodotto_style {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        transition: opacity 0.4s linear;
    }
}

/* Home - Instagram */

.home_instagram_style {
    color: #3B2313;
    background: url(../../assets/sfondo.png);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.insta_scroll {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -140px;
    height: 440px;
    overflow: scroll;
}

.button_instagram {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    margin: 10px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #C44485;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #C44485 0%, #F6CD6A  51%, #C44485  100%);
}

.button_instagram:hover {
    background-position: right;
    color: white;
}

.button_instagram:active {
    transform: scale(0.9);
}

.button_facebook {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #247BF4;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #247BF4 0%, #3B5A98 51%, #247BF4  100%);
}

.button_facebook:hover {
    background-position: right;
    color: white;
}

.button_facebook:active {
    transform: scale(0.9);
}

.button_whatsapp {
    font-family: "Cinzel", serif !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    margin: 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #00B439;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(45deg, #00B439 0%, #015255 51%, #00B439  100%);
}

.button_whatsapp:hover {
    background-position: right;
    color: white;
}

.button_whatsapp:active {
    transform: scale(0.9);
}

/* Home - Recensioni */

.home_recensioni_style {
    /* background: url(../../assets/sfondoverde.png); */
    background-color: #558259;
    color: #3B2313;
    background-attachment: fixed;
    padding: 40px 0px;
}

/* Home - Footer */

.footer_style {
    background-color: #3B2313;
    height: 200px;
    color: white;
    padding: 40px 0px;
}