.carousel_pic_style {
    max-height: 640px;
    object-fit: cover;
}

.carousel_caption_style h2 {
    text-shadow: 3px 3px 4px black;
}

.carousel_caption_style p {
    text-shadow: 2px 2px 2px black;
}

.title_carousel_style {
    font-size: 38px;
}

@media screen and (min-width:992px) {
    .title_carousel_style {
        font-size: 60px;
    }
    .carousel_caption_style p {
        font-size: 28px;
    }
}