.carousel_pic_style {
    max-height: 650px;
    object-fit: cover;
}

.carousel_caption_style {
    background-color: #3b2313dd;
    border-radius: 70px;
    padding: 20px;
}

.title_carousel_style {
    font-size: 38px;
}

@media screen and (min-width:992px) {
    .title_carousel_style {
        font-size: 45px;
    }
}